<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  </div>
  <div class="field">
    <%= f.label :championship %><br />
    <%= f.collection_select :championship_id, Championship.where(year: 2012), :id, :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  </div>
    <div class="field">
    <%= f.label :home_team %><br />
    <%= f.collection_select :home_team_id, Team.all, :id, :name %>
  </div>
    <div class="field">
    <%= f.label :away_team %><br />
    <%= f.collection_select :away_team_id, Team.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
